@font-face {
    font-family: 'DDCHardware';
    src: url('./assets/fonts/DDCHardware-Regular.eot');
    src: url('./assets/fonts/DDCHardware-Regular.woff2') format('woff2'),
        url('./assets/fonts/DDCHardware-Regular.woff') format('woff'),
        url('./assets/fonts/DDCHardware-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
